body{
    background-color: lightslategray;
    text-align: center;
}
body{
    color: purple;
  }
  .purple{
    color: purple;
  }
  #bigger{
    font-size: 25px;}
  color{
    color: purple;}
  {
  .highlight {
     font-weight: bold; color: red;}
  #special-text{font-style: italic; color: green}
  
    
}


    