body{
    background-color: lightslategray;
    text-align: center;
}
span {
    text-color: purple;
  }
  .purple{
    color: purple;
  }
  #bigger{
    font-size: 25px;
}
#font-color{
    font-color: purple;

}